<div class="c-project-card">
 <div class="c-project-card__content">
  {{ content.field_imagen }}
  <a href="{{ url }}"><h2>{{ label }}</h2></a>
  <p>{{ content.field_subtitulo_proyecto }}</p>
 </div>
</div>
