<div class="c-project-card">
 <div class="c-project-card__content">
  {{ content.field_imagen_revista }}
  <a href="{{ url }}"><h2>{{ label}}</h2></a>
  <p>{{ content.field_subtitulo_revista }}</p>
 </div>
</div>





