<div class="c-project-card">
 <div class="c-project-card__content">
  {{ content.field_imagen_revista }}
  <h2>{{ label}}</h2>
  <p>{{ content.field_subtitulo_revista.0.subtitle}}</p>
 </div>
</div>