<div class="c-search-form__content form-wrapper">
<div class="form-type-textfield">

<div class="form-type-textfield">
  <label for="edit-keys">Palabra clave</label>
 <input type="text" {{ attributes.removeAttribute('placeholder','data-original-title') }}  name="keys" value="" size="30" maxlength="255">

<input class="c-magnifier-button" type="submit" value="">

</div></div></div>